@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Text";
  src: url("../public/fonts/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: "SF Pro Text Light";
  src: url("../public/fonts/SF-Pro-Text-Light.otf");
}
